asn1crypto==0.24.0
cryptography==2.1.4
dj-database-url==0.5.0
Django==1.11.11
enum34==1.1.6
gunicorn==19.9.0
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
psycopg2==2.7.7
pycrypto==2.6.1
pygobject==3.26.1
pytz==2018.9
pyxdg==0.25
scapy===git-archive.devae348f861
SecretStorage==2.3.1
six==1.11.0
sqlparse==0.2.4
virtualenv==16.4.3
